#!/bin/bash

# packages.txt hash: {{ include (joinPath .chezmoi.homeDir ".config/packages.txt") | sha256sum }}

PACKAGES_FILE="$HOME/.config/packages.txt"

echo "Updating system packages from $PACKAGES_FILE..."
grep -v '^#' "$PACKAGES_FILE" | xargs -r paru -S --needed --noconfirm
